 *{
    padding: 0%;
    margin: 0%;
    background-color: #F8F5E4;

 }

 .banner{
    height: 20%;
    width: 100%;
 }

 .sale{
    height: 10%;
    width: 100%;
    margin-top: 30px;
 }
 
 nav ul{
    text-align: center;
    overflow: auto;
 }
 
 li{
    list-style: none;
    display: inline;
   
    
}
.item{
    
    padding: 2px 3px;
    margin:0px 30px;
    font-size: 25px;
}

nav ul li a{
    font-size: 22px; /* Change the font size as desired */
    color: black;
}

nav ul li a:hover{
    color: #865DFF;
}




h1{
    font-size: 5ch;
}

.men{
    height: 400px;
    width: 400px;
}


.women{
    height: 400px;
    width: 400px;
}

.shop{
    width:100%;
    text-align: center;
}
.shop th,td{
    padding-right: 90px;
    padding-left: 100px;
}

.catchyline{
    width: 100%;
}

p{
    font-size: 20px;
}

footer{
    text-align: center;
}

@media  only screen and (max-width:1100px) {
    .shop1{
        display: list-item;
       
    }
    
}

@media  only screen and (max-width:600px) {
    .women{
        height: 200px;
        width: 200px;
    }

    .men{
        height: 200px;
        width: 200px;
    }
}
@media  only screen and (max-width:400px) {
    .women{
        height: 140px;
        width: 140px;
    }

    .men{
        height: 140px;
        width: 140px;
    }

    .item{
        font-size: 5px;
        padding: 1px 1px;
        margin:0px 10px;
    }
    
}

@media  only screen and (max-width:300px) {
    .women{
        height: 900px;
        width: 90px;
    }

    .men{
        height: 90px;
        width: 90px;
    }

    .item{
        font-size: 5px;
        padding: 1px 1px;
        margin:0px 10px;
    }
    
}

