
body{
    background-color: #FFD4D4;
    padding: 0%;
    margin: 0%;
}

.banner{
    width: 100%;
    height: 150px;
}

.navbar{
    background-color: #F6F1F1;
    padding-bottom: 5px;
    margin-top: 30px;
}

nav ul{
    margin-top: 50px;
    margin-left: 300px;
 }
 
 li{
    list-style: none;
    display: inline;
    
}

nav ul li a{
    font-size: 3ch; /* Change the font size as desired */
    padding: 20px; 
    color: black;
}

nav ul li a:hover{
    color: #865DFF;
}


li a:link{
    width: 25%;
}

table th,td{
    padding-left: 30px;
    padding-right: 30px;
}

img {
    border: 3px solid #555;
}


h1{
    text-align: center;
    text-shadow: 2px 2px #C780FA;

}

footer{
    text-align: center;
}
